@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 56% 92%;
    --foreground: 259 25% 15%;
    --card: 0 0% 100%;
    --card-foreground: 259 25% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 259 25% 15%;
    --primary: 259 34% 65%;
    --primary-foreground: 261 56% 98%;
    --secondary: 261 25% 85%;
    --secondary-foreground: 259 25% 15%;
    --muted: 261 25% 88%;
    --muted-foreground: 259 25% 45%;
    --accent: 189 39% 73%;
    --accent-foreground: 189 39% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 261 25% 80%;
    --input: 261 25% 86%;
    --ring: 259 34% 65%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 259 10% 10%;
    --foreground: 261 56% 92%;
    --card: 259 10% 15%;
    --card-foreground: 261 56% 92%;
    --popover: 259 10% 10%;
    --popover-foreground: 261 56% 92%;
    --primary: 259 34% 65%;
    --primary-foreground: 261 56% 98%;
    --secondary: 259 10% 25%;
    --secondary-foreground: 261 56% 98%;
    --muted: 259 10% 20%;
    --muted-foreground: 261 25% 65%;
    --accent: 189 39% 73%;
    --accent-foreground: 189 39% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 259 10% 25%;
    --input: 259 10% 25%;
    --ring: 259 34% 65%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 2rem;
    color: black;
  }
  .no-print {
    display: none !important;
  }
}
